@font-face {
  font-family: "MyriadPro-Cond";
  src: url(../fonts/MyriadPro-Cond.woff2) format("woff2"); }

body {
  width: 1280px;
  padding: 0;
  margin: 0 auto;
  background-color: #f2f2f2;
  font-family: "MyriadPro-Cond"; }

.main-nav__list {
  padding: 0;
  list-style: none;
  line-height: 0;
  font-size: 0; }

.main-nav__logo-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px; }

.promo {
  margin: 0;
  padding: 0;
  background-image: url(../img/Layer2.png);
  background-position: cover;
  background-repeat: no-repeat;
  position: relative; }

.public-title {
  box-sizing: border-box;
  width: 684px;
  margin-left: auto;
  margin-bottom: 44px;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 13px;
  font-size: 36px;
  background-color: #fff;
  opacity: 0.8; }

.public-countdown {
  width: 665px;
  font-size: 24px;
  text-transform: uppercase;
  margin-right: auto;
  margin-bottom: 36px;
  padding-right: 9px;
  padding-top: 29px;
  padding-bottom: 11px;
  color: #fff;
  background-color: #000000;
  opacity: 0.8;
  text-align: right; }

.public-timer__img {
  display: block;
  margin: 0 auto;
  padding-bottom: 50px; }

.footer-section {
  background-image: linear-gradient(to top, #4564bb, #000b76); }

.photo__list {
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 79px;
  justify-content: space-around; }

.photo__list-item {
  border: none; }

.footer-section {
  margin-top: -20px; }

.footer {
  padding-left: 31px; }

.footer__logo {
  display: block;
  margin-bottom: 12px; }

.footer_info {
  font-family: Arial;
  color: #9ab3fe;
  font-size: 12px;
  margin: 0;
  padding: 0;
  padding-bottom: 32px; }
